.containerProyects {
    background-color: rgba(222, 179, 127, 1);
    height: 1050px;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
}
.containerAboluteProyects{
    position: absolute;
    height: 1050px;
    z-index: 100;
    width: 70%;
    
}

.titleProyects {
    font-weight: 400;
    font-size: 36px;
    background-color: rgba(222, 179, 127, 1);
    margin-top: 0;
    padding-top: 5%;
    padding-bottom: 2%;
    z-index: 15;
}
.imagePetro{
    width: 50%;
}

.imageStore {
    width: 35%;
}

.imagePod {
    width: 40%;
}

.imageHoteles {
    width: 40%;
}

.imageGifos {
   width: 50%;
}

/* .imageStore,
.imagePod,
.imageHoteles,
.imageGifos {
    margin: auto;
} */

.proyecFila1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.proyecFila2 {
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-top: 5%;
}

.proyecFila3 {
    margin-top: 5%;

}