.containerProyects {
    background-color: rgba(222, 179, 127, 1);
    height: 100%;
    /* z-index: 100; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.containerAboluteProyects{
    /* position: absolute; */
    height: auto;
    /* z-index: 100; */
    width: 70%;
    padding-bottom: 5%;
    
}

.titleProyects {
    font-weight: 400;
    font-size: 36px;
    background-color: rgba(222, 179, 127, 1);
    margin-top: 0;
    padding-top: 5%;
    padding-bottom: 2%;
    /* z-index: 15; */
}
.proyecFila1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proyecFila2 {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 5%;
}

.proyecFila3 {
    margin-top: 5%;
    display: flex;
    justify-content: center;

}

.imagePetro{
    background-image: url(./images/proyectoPetro.png) ;
    background-size: cover;
    width: 50%;
    height: 15vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.imageStore {
    width: 35%;
    height: 10vw;
    background-size: cover;
    background-image: url(./images/proyectoStore.png);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;

}
.imagePod {
    width: 40%;
    height: 14vw;
    background-size: cover;
    background-image: url(./images/proyectoPod.png);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}
.imageHoteles {
    width: 40%;
    height: 14vw;
    background-size: cover;
    background-image: url(./images/proyectoHoteles.png);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.imageGifos {
   width: 50%;
   height: 15vw;
   background-size: cover;
   background-image: url(./images/proyectoGifos.png);
   display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.buttonRepo, .buttonLinkProyect{
    border: none;
    font-weight: 600;
    /* width: 50px;
    height: 50px; */
    background-color: rgba(222, 179, 127, 1);  
    /* border: solid; */
}
.buttonRepo:hover, .buttonLinkProyect:hover{
    /* background-color: black; */
    /* color: whitesmoke; */
    /* color: rgba(222, 179, 127, 1) !important; */
    cursor: pointer;
    /* transition: background-color 2s ; */
    /* transition: color 1s ; */
    transition: transform 2s ;
    transform: scaleX(1.3) scaleY(1.3);
}
.buttonRepo:not(:hover), .buttonLinkProyect:not(:hover){
    transition: background-color 2s ;
    transition: color 1s ;
    transition: transform 2s;
}


.imagePetro:hover, .imageGifos:hover, .imageHoteles:hover, .imagePod:hover, .imageStore:hover{
    filter: sepia(100%);
    transition: filter 2s ;
}

.imagePetro:not(:hover), .imageGifos:not(:hover), .imageHoteles:not(:hover), .imagePod:not(:hover), .imageStore:not(:hover){
    transition: filter 2s ;

}
.iconoRepo{
    width: 40px;
    height: 100%;
}

@media screen and (max-width:1220px) {
    .containerProyects{
        height: auto;
    }
    .containerAboluteProyects{
        height: auto;
        margin-bottom: 10%;
        width: 100%;
    }
    .proyecFila1, .proyecFila2{
        justify-content: center;
        flex-direction: column;
    }
    .imagePetro, .imageStore, .imagePod, .imageGifos, .imageHoteles{
        width: 80%;
        height: 40vw;
        background-size: contain;
    }
    .imagePetro,.imagePod{
        margin-bottom: 5%;
    }
    .iconoRepo{
        width: 30px;
    }

}
@media screen and (min-width: 768px) and (max-width:1024px) {
    .proyecFila1, .proyecFila2{
        flex-direction: row;
        justify-content: space-between;
    }
    .containerAboluteProyects{
        width: 70%;
    }
    .imagePetro, .imageStore, .imagePod, .imageGifos, .imageHoteles{
        width: 40%;
        height: 100px;
        background-size: cover;
    }
}
