.skills{
    background-color: rgba(242, 242, 242, 1);
    opacity: 1;
    /* margin-top: -2%; */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction:row
}

.conteinerItemsPro{
    width: 35%;
    text-align: left;
    height: 100%;
    padding-bottom: 5%;
}
.conteinerItemsOtros{
    width: 35%;
    height: 100%;

}
.itemConocimientoTitle{
    text-align: left;
    font-size: 3vw;
    font-weight: 400;
    margin-top: 0;
    padding-top: 5%;
    padding-bottom: 1%;
    text-decoration: underline;
}

.itemConocimiento{
text-align: left;
font-weight: 600;
font-size: 1vw;
}
.conteinerItemConocimiento{
    height: 100%;
    display: flex;
    padding-top: 4%;
    padding-bottom: 4%;
    justify-content: flex-start;
    align-items: center;
}
.iconSkills{
    width: 70px;
    height: 70px;
    margin-right: 5%;
}
.iconSkillsG{
    width: 90px;
    height: 90px;
    padding-right: 10% ;
}