.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: auto;
    background-color: rgba(196, 196, 196, 1);
    color: rgba(113, 110, 110, 1);
}

@media screen and (max-width:1220px) {
    .footer{
        height: 100%;
        flex-direction: row;
    }
}