.containerCertification {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(242, 242, 242, 1);
    height: 100%;
    padding-bottom: 5%;
}

.containerCertificacion {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titleCertificacion {
    text-align: center;
    font-size: 3vw;
    font-weight: 400;
    margin-top: 0;
    padding-top: 5%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    align-items: center;
}

.listaCertificaciones {
    text-align: left;
    font-weight: 600;
    font-size: 1vw;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    /* height: 5vw; */

}

.itemListaCe {
    /* border: solid; */
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: start; */
    border: solid gainsboro 2px;
    /* flex-direction: column; */
}

.liCursos {
    border-left: solid rgba(222, 179, 127, 1) 5px;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.itemCurso {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2% 4% 2% 2%;

}

.iconCertificaciones {
    width: 80px;
    /* height: 150px; */
    /* height: 100%; */
    margin: 5%;
}

.iconCertificacionesG {
    width: 100px;
    padding-right: 5%;

}

.certificados {
    margin-left: 35%;
    /* color: rgba(222, 179, 127, 1); */
    width: 40px;
    height: 40px;
}

/* --------------DESCARGAR CV --------------------- */
.containerCV {
    height: 200px;
    background-color: rgba(78, 101, 91, 1);
    /* margin-top: -55px; */
    /* margin-top: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* padding-bottom: 1%; */
}

.titleCV {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 20px;
}

.buttonCV {
    width: 350px;
    height: 50px;
    font-weight: 400;
    font-size: 15px;
}

@media screen and (max-width:1220px) {
    .itemListaCe {
        width: 90%;
    }

    .titleCertificacion {
        font-size: 30px;
    }

    .iconCertificacionesG {
        width: 40px;
    }

    .iconCertificaciones {
        width: 40px;
    }

    .certificados {
        width: 25px;
        height: 25px;
    }

    .itemListaCe {
        font-size: 10px;
        padding: 5% 0 5% 0;
    }

    .itemCurso {
        margin: 2% 8% 2% 8%;
    }

    .containerCV {
        height: auto;
        padding: 10% 0 10% 0;
    }

    .titleCV {
        margin-top: 0;
    }

    .buttonCV {
        width: 80%;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px) {
    .itemListaCe {
        font-size: 15px;
    }
}