.containerContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vw;
    background-color: rgba(242, 242, 242, 1);
    margin-top: 0;
    /* color: rgba(242, 242, 242, 1); */
}
.contacto{
    font-size: 3vw;
    font-weight: 400;
    margin-top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}

.contactoFoto{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: solid;
}
.mailtoC{
    background-color: #BE784A;
    color: blanchedalmond;
    margin-bottom: 5%;
    margin-top: 2%;
}
.linkedingC{
    background-color: #D6A18F;
    color: blanchedalmond;
}